/*Importing the fonts that is going to be on the website.*/ 
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Averia+Gruesa+Libre&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:wght@300;400;700&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bodoni+Moda:wght@400;500;600;700;800;900&family=David+Libre:wght@400;500;700&family=Della+Respira&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Libre+Barcode+39+Text&family=Libre+Baskerville:wght@400;700&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&family=Vesper+Libre:wght@400;500;700;900&display=swap'); 


/* CSS rules to use the fonts.
    font-family: 'Abhaya Libre', serif;
    font-family: 'Averia Gruesa Libre', cursive;
    font-family: 'Averia Sans Libre', cursive;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Bodoni Moda', serif;
    font-family: 'David Libre', serif;
    font-family: 'Della Respira', serif;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Vesper Libre', serif;
*/

/*home.html page*/
*{ 
    padding: 0%;
    margin:0% ;
}

html{ 
    scroll-behavior: smooth;
}

body{ 
    font-family: 'Roboto Slab', serif;
    background: white;
}

.nav-container{ 
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px) ;   
    justify-content: space-evenly; 
}
#logo{ 
    padding-top: 1%;
    width: 3%;
    height: 1%;
}
#left-side-nav{ 
    width: 50%;
    font-family: 'Libre Barcode 39 Text', cursive;
    padding-top: 1%;
}

#right-side-nav{ 
    width: 50%;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 0.3%;
}
.nav-link{ 
    text-decoration: none;
    color: black;
    padding-left:3% ;
    padding-right:3% ;
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-link:hover{
    background-color: black;
    color: white;
    border-radius: 2rem;
    border-bottom:solid gold 5px; 
    
}

#home{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.text-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cover-text{ 

    margin: 1%;
}
#owl-logo{
    width: 15%;
}

.header-text{ 
    justify-content: center;
    display: flex;
}

#about{ 
    width: 80%;
    margin-left:10%;
    border: 2px solid transparent;
}
.about-container{ 
    margin-top: 5.5%;
    height: 100vh;
}

#section-header{ 
    background-color: gold;
    padding: 1.5%;
}

.mytabs{ 
    margin-top: 2%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}
.mytabs input[type="radio"]{ 
    display: none;
}
.mytabs label{ 
    padding: 2%;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.mytabs .tab-content{ 
    width: 100%;
    background-color:rgb(255, 182, 193,0.3);
    order: 1;
    display: none;
}

.mytabs input[type="radio"]:checked + label + .tab-content{ 
    display: inline-flex;
}

.mytabs input[type="radio"]:checked + label{ 
    background-color: rgb(255, 182, 193,0.3);
    color: black;
}
.tab-content{ 
    display: flex;
}
.image-content{ 
    display: flex;
    flex-direction: column;
    width:20% ;
    align-items: center;
    justify-content: center;
    
}

#lion-photo{ 
    width: 70%;
}
#mission-text-content{ 
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1%;
}
#mission-header{ 
    text-align: center;
    margin-bottom: 3%;
}

#mission-para{ 
    text-align: justify;
}

.barcode-text{ 
    font-family: 'Libre Barcode 39 Text', cursive;  
}
.back-to-menu{ 
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: gold;
    width: 20%;
    padding: 2%;
    margin-top: 3%;
    align-self: center;
}

.back-to-menu:hover{ 
    background-color: darkred;
    color: white;
}


#personal-photo{ 
    width: 70%;
    border-radius: 50%;
    margin-right: 10%;
}

#aboutdev-text-content{ 
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1%;
}

.aboutdev-header{ 
    text-align: center;
    padding-bottom: 3%;
    padding-bottom: 2%;
}


#areas-expert{ 
    padding-left:5% ;
}

.edu-image-text{ 
    display: flex;
    align-items: center;


}

#mmu-link{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 20%;
    margin-right: 2%;
}

.mmu-image{ 
    width:100%;
    border-radius: 50%;
}

#mmu-link:hover{ 
    background-color: darkred;
    color: white;
}
.skills-image{ 
    display: flex;
    justify-content: center;
}

.skills-img{
    width: 50%;
}

#projects{ 
    width: 80%;
    margin-left:10%;
    border: 2px solid transparent;
    height: 100vh;
}

.projects-container{ 
    margin-top: 5.5%;
}

.project-image-content{ 
    display: flex;
    flex-direction: column;
    width:100% ;
    align-items: center;
    justify-content: center;
    
}

.project-img{ 
    width: 100%;
}

.projects-mytabs{ 
    margin-top: 2%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
   
}
.projects-mytabs input[class="project-radio"]{ 
    display: none;
}
.projects-mytabs .project-label{ 
    padding: 2%;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.projects-mytabs .project-tab-content{ 
    width: 100%;
    background-color:rgb(255, 182, 193,0.3);
    order: 1;
    display: none;
}

.projects-mytabs input[class="project-radio"]:checked + .project-label + .project-tab-content{ 
    display: inline-flex;
}

.projects-mytabs input[class="project-radio"]:checked + .project-label{ 
    background-color: rgb(255, 182, 193,0.3);
    color: black;
}
.project-tab-content{ 
    display: flex;
}

.project-img{ 
    width: 100%;
    display: flex;
}
.image-caption{ 
    text-align: center;
    background-color: darkred;
    padding: 1%;
    color: white;
}

#Completed-projects-contnet h1{ 
    color: lightslategrey;
    text-align: justify;
    font-size: 1rem;
}
.electronics-projects-links{ 
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-decoration: none;
    color: black;
}
.electronics-projects-links:hover{ 
    background-color: lightcyan;
}

.electronics-projects-links img{ 
    width: 50%;
    padding: 3%;
    border-radius: 50%;
}


#contacts{ 
    width: 80%;
    margin-left:10%;
    border: 2px solid transparent;
    height: 100vh;
}

.contacts-container{ 
    margin-top: 5.5%;
}

#contacts-image-container{
    margin-top: 3%; 
    display: flex;
    justify-content: center;
}

#contacts-image{ 
    width: 50%; 
}

.social-media-container{ 
    text-align: center;
    font-size: 1vw;
}

.social-buttons{ 
    text-decoration: none;
    color: black;
    font-size: 3rem;
    padding-left: 3%;
    padding-right: 3%;
}

.social-buttons:hover{ 
    background-color: lightblue;
    color: white;
}

.form-container{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 2%;
}

.form-container h3{
    padding: 1%;
    color:white;
}

form{ 
    padding: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1rem;
}

input, textarea, button{ 
    margin-top:10% ;
    padding: 3%;
    border: none;
    border-radius: 1rem;
    background-color:whitesmoke ;
}

button{ 
    border: 3px solid pink;
    background: gold;
    font-weight: bold;
}

textarea{
    font-family: 'Roboto Slab', serif;
}

.back-to-menu{ 
    font-size: 1.2vw;
}

form h1{ 
    text-align: center;
}

input[placeholder]{ 
    font-size: 1vw;
}
textarea[placeholder]{ 
    font-size: 1vw;
}
input:focus{ 
   outline: none;
}

textarea:focus{ 
    outline: none;
}


 button[type="submit"]{ 
    font-size:1vw;
 }

@media (max-width:700px) and (min-width:235px) {
    
    body{ 
        font-family: 'Roboto Slab', serif;
        background: white;
        font-size: 2.2vw;
    }


    #projects{ 
        width: 80%;
        margin-left:10%;
        border: 2px solid transparent;
        height: 100vh;
    }

    .projects-container{ 
        margin-top: 5.5%;
    }
    
    .social-buttons{
        font-size: 7vw;
    }

    form h1{ 
        text-align: center;
    }

    input[placeholder]{ 
        font-size: 2vw;
    }
    textarea[placeholder]{ 
        font-size: 2vw;
    }

    button[type="submit"]{ 
        font-size:2vw;
    }

}

