/*Importing the fonts that is going to be on the website.*/ 
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Averia+Gruesa+Libre&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:wght@300;400;700&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bodoni+Moda:wght@400;500;600;700;800;900&family=David+Libre:wght@400;500;700&family=Della+Respira&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Libre+Barcode+39+Text&family=Libre+Baskerville:wght@400;700&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&family=Vesper+Libre:wght@400;500;700;900&display=swap'); 


/* CSS rules to use the fonts.
    font-family: 'Abhaya Libre', serif;
    font-family: 'Averia Gruesa Libre', cursive;
    font-family: 'Averia Sans Libre', cursive;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Bodoni Moda', serif;
    font-family: 'David Libre', serif;
    font-family: 'Della Respira', serif;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Vesper Libre', serif;
*/

*{ 
    padding: 0;
    margin: 0;
}
/*home.html page*/
body{ 
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    position: relative;
}



.nav-container{ 
    display: flex;
    position: fixed;
    width: 100%;
    background-color: transparent;
}

#logo{ 
    padding-top: 1%;
    width: 3%;
    height: 1%;
}

#left-side-nav{ 
    width: 50%;
    font-family: 'Libre Barcode 39 Text', cursive;
    padding-top: 1%;
}

#right-side-nav{ 
    width: 50%;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 0.3%;
}

.nav-link{ 
    text-decoration: none;
    color: black;
    padding-left:3% ;
    padding-right:3% ;
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-link:hover{
    background-color: black;
    color: white;
    border-radius: 2rem;
    border: 1px solid gold;
}

#cover-image{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.text-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cover-text{ 

    margin: 1%;
}

#owl-logo{
    width: 15%;
}



